import { Response, Request } from "express";
import { EasyApiController } from '../../easy-api_core/core/interfaces/easy-api.controller.interface';

export class %CONTROLLER_NAME% implements EasyApiController {
    public index(req: Request, res: Response): void {
        /**
         * Add your controller code here
         */
        res.json({
            'route' : 'created'
        });
    }
}