import { Request, Response, NextFunction } from 'express';
import { EasyApiMiddleware } from '../../easy-api_core/core/interfaces/easy-api.middleware.interface';

export class %MIDDLEWARE_NAME% implements EasyApiMiddleware {
    public execute(req: Request , res: Response, next: NextFunction) {
        /**
         * Place your custom middleware code here
         */
        next();
    }
}